{# toolbar.html #}
<nav aria-label="breadcrumb"
     class="position-sticky w-100 mt-2"
     style="z-index: 1000; background-color: white; top: 0;">
    <ul class="nav nav-tabs" id="documentTabs" role="tablist">
        {# Здесь можно динамически добавлять вкладки документов #}
    </ul>
    <div class="d-flex align-items-center mt-4" style="width:100%;">
        <!-- <div class="btn-group me-1">
            <button class="btn btn-outline-secondary" onclick="document.execCommand('undo')"><i class="bi bi-arrow-counterclockwise"></i></button>
            <button class="btn btn-outline-secondary" onclick="document.execCommand('redo')"><i class="bi bi-arrow-clockwise"></i></button>
        </div> -->
    </div>
</nav>